{% extends "learn_base.html" %}
{% block learn_content %}

    <h1 class="mb-0"><b>Let's Get Started!</b></h1>
    
    <div class="lesson-content">
        <h2 class="mt-0">Lesson 0: What is Pre-Flop?</h2>
        <p>In poker, there are four <b>betting rounds.</b></p>
        
        <h3>1. Pre-Flop</h3>
        <p>Before any of the community (shared) cards are dealt:</p>
        <div class="text-center my-4">
            <img src="/static/images/preflop1.png" 
                 alt="preflop" 
                 class="img-fluid rounded" 
                 style="max-width: 600px;">
        </div>
        
        <h3>2. Flop</h3>
        <p>After the first three cards are dealt, all at once (now the Pre-Flop name makes sense!):</p>
        <div class="text-center my-4">
            <img src="/static/images/flop.png" 
                 alt="flop" 
                 class="img-fluid rounded" 
                 style="max-width: 600px;">
        </div>
        
        <h3>3. Turn</h3>
        <p>After the fourth card is dealt:</p>
        <div class="text-center my-4">
            <img src="/static/images/turn.png" 
                 alt="turn" 
                 class="img-fluid rounded" 
                 style="max-width: 600px;">
        </div>

        <h4>4. River</h4>
        <p>After the fifth (last) card is dealt:</p>
        <div class="text-center my-4">
            <img src="/static/images/river.png" 
                 alt="river" 
                 class="img-fluid rounded" 
                 style="max-width: 600px;">
        </div>
    </div>
    
    <div class="lesson-navigation">
        <a href="/" class="btn btn-outline-secondary btn-lg lesson-nav-button">Back</a>
        <a href="/learn/1" class="lesson-nav-button">Next</a>
    </div>
</div>
{% endblock %}